@media only screen and (max-width: 991px) {
    .s_c {
        padding-top: 20px;
    }
}

body {
    background-color: rgb(53, 2, 2);
    color: white;
    text-align: center;
    background-image: url;
}